html {
  box-sizing: border-box;
}
*, *::after, *::before{
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar {
  width: 0;
}
html,
body{
  height: 100%;
}
.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px;
  text-align: center;
}

body {
  font-size: 24px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  color: rgb(73, 68, 76);
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.all-day {
  display: flex;
  gap: 8px;
  border: 2px solid rgb(156, 137, 184);
  border-radius: 8px;
  padding: 8px;
  margin-top: 50px;
}
.week-card {
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}

.column-week {
  display: flex;
  flex-direction: column;
  align-items: center; 
  width: 60px;
}
.selectedDay {
  border: 2px solid rgb(156, 137, 184);
  border-radius: 50%;
}
.day-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
}
.day-of-week {
  margin-bottom: 20px; /* Уменьшение отступа для лучшего выравнивания */
}
.isDayOff {
  background-color: rgb(206, 237, 199);
  border-radius: 50%;
}
.selectDate {
  display: flex;
  justify-content: space-evenly;
}
.selectDateBtn {
  margin-top: 20px;
  width: 150px;
  padding: 7px;
  background-color: rgb(156, 137, 184);
  border: 2px solid rgb(160, 136, 196);
  color: rgb(255, 255, 255);
  border-radius: 8px;
}

.modal {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.unActive {
  display: none;
}
.modal_content {
  padding: 20px;
  border-radius: 20px;
  background-color: white;

}

input[type="radio"] {
  display: none;
}
/* input[type='submit'] {
  appearance: none; 
  background-color: transparent; 
  padding: 0; 
  cursor: pointer; 
} */

/* Стилизация радио обёртки */
.radio-wrapper {
  position: relative;
  cursor: pointer;
  display: inline-block;
  margin-right: 10px;
}

.radio-wrapper .custom-radio {
  width: 50px;
  height: 50px;
  border-radius: 8px;
  background-color: var(--radio-border-color);
  box-sizing: border-box;
  transition: border 2s ease-in-out, transform 0.2s ease-in-out;
}

.custom-radio:hover {
  transform: scale(1.1);
}

/* Стилизация выбранного состояния */
.radio-wrapper.checked .custom-radio {
  border: 2px solid rgb(73, 68, 76);
}
.btn-modal {
  border: none;
  background-color: rgb(156, 137, 184);
  color: white;
  border-radius: 8px;
  padding: 5px 21px;
  margin: 0 30%
}
.div-input {
  display: flex;
  flex-direction: column;
  text-align: start;
  gap: 5px;
}
.input-modal {
  border: rgb(156, 137, 184) 2px solid;
  border-radius: 8px;
  padding: 7px 8px;
  outline: none; /* Убираем обводку */
}
.form-CreateTask {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.task {
  color: white;
  background-color: var(--selectedColor);
  display: flex;
  justify-content: space-between;
  padding: 5px 20px;
  border-radius: 8px;
  flex-wrap: wrap;
  max-width: 100%; 
  flex: 1;
}
.task-title {
  margin-bottom: 10px;
}
.currentDate-modal {
  display: flex;
  gap: 10px;
  justify-content: center;
}
.name-task-modal {
  word-break: break-all;
} 
.all-task {
  display: flex;
  gap: 5px;
  flex-direction: column;
}
.task-and-delete {
  display: flex;
  gap: 10px;
  align-items: center;
}
.delete-btn {
  width: 30px;
  height: 30px;
  background-color:var(--selectedColor);
  border-radius: 50%;
  border: none;
  transition: transform 0.2s ease-in-out;
  font-weight: 400;
  font-size: 24px;
}
.delete-btn:hover {
  transform: scale(1.1);
}
.colors-radio {
  display: flex;
  justify-content: center;
}